@model IEnumerable<TechnologicalPracticeApp.Models.EcoType_Ecolabel>

@{
    ViewBag.Title = "Index";
}

<h2>Связи Экомаркировка - Тип экомаркировки</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Экомаркировка
        </th>
        <th>
            Тип экомаркировки
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ecolabel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcoType.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("К списку типов", "Index", "EcoTypes")
</div>
<div>
    @Html.ActionLink("К списку маркировок", "IndexAdmin", "Ecolabels")
</div>
