@model TechnologicalPracticeApp.Models.Ecolabel
@using TechnologicalPracticeApp.Models

@{
    ViewBag.Title = "DetailsUser";
}

<h2>Подробные сведения об экомаркировке</h2>

<div>
    @{
        if (Model.Image != null)
        {
            <div class="display-field col-md-offset-5">
                <img src="@Url.Action("ViewPhoto", "Ecolabels", new { id = Model.Id})" width="200" height="200" />
            </div>
        }
        else
        {
            <div class="col-md-offset-5">Изображение отсутствует.</div>
        }
    }

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название экомаркировки
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Сертифицирующая компания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Страны действия экомаркировки
        </dt>
        <dd>
            @{
                string countries = "";

                foreach (Country_Ecolabel ce in Model.Country_Ecolabel)
                {
                    if (ce.EcolabelID == Model.Id)
                    {
                        countries += ce.Country.Name + ", ";
                    }
                }
                countries = countries.TrimEnd(',', ' ');
            }
            @countries
        </dd>

        <dt>
            Правила маркировки
        </dt>
        <dd>
            <ul>
                @foreach (Demand_Ecolabel de in Model.Demand_Ecolabel)
                {

                    if (de.EcolabelID == Model.Id)
                    {
                        <li>
                            @String.Format(de.Demand.Rule)
                        </li>
                    }
                }
            </ul>
        </dd>

        <dt>
            Маркируемые типы продукции
        </dt>
        <dd>
            <ul>
                @foreach (EcoType_Ecolabel ee in Model.EcoType_Ecolabel)
                {

                    if (ee.EcolabelID == Model.Id)
                    {
                        <li>
                            @String.Format(ee.EcoType.Name)
                        </li>
                    }
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться к списку экомаркировок", "IndexUser")
</p>
